.main-nav ul, .lab9-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.main-nav ul li, .lab9-nav ul li {
  margin: 0 10px;
}

.main-nav a, .lab9-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.lab-container {
  padding: 20px;
  text-align: center;
}
